.about-us {
  --columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include onTablet {
    --columns: 6;
    column-gap: 24px;
  }

  @include onDesktop {
    --columns: 12; 
  }

  &__title {
    grid-column: 1 / -1;
    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: span 5;
    }
  }

  &__content {
    grid-column: 1 / -1;
    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: span 5;
    }
  }

  &__description {
    font-size: 23px;
    font-weight: 500;
    margin: 0;
    line-height: 140%;
  }
}
