.details {
  &__wrapper {
    display: grid;
    row-gap: 40px;
    @include onTablet {
      row-gap: 64px;
    }
  }
}

.detail {
  &__photos {
    @include pageGrid;
    margin-bottom: 16px;
  }

  &__link {
    position: relative;
    &--square {
      @include onTablet {
        height: 0;
        padding-bottom: 100%;
        grid-column: span 2;
      }

      @include onDesktop {
        grid-column: span 4;
      }
    }

    &--wide {
      @include onTablet {
        grid-column: span 4;
      }

      @include onDesktop {
        grid-column: span 8;
      }
    }
  }

  &__photo {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  &__paragraph {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    @include onTablet {
      grid-column: span 2;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }
}
