.dl {
  grid-column: 1 / -1;
  @include onTablet {
    grid-column: 4 / -1;
  }

  @include onDesktop {
    grid-column: 8 / -1;
  }

  display: grid;
  flex-direction: column;
  &__dt {
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
  }

  &__dd {
    
    font-weight: 500;
    font-size: 16px;
  }

  &__a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
  }
}
