.header {
  background-image: url('../images/phone-bg.png');
  background-size: cover;
  background-position: center;


  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-style: Poppins;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;

    @include onTablet {
      font-size: 40px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include onTablet {
      padding-bottom: 64px;
    }
  }


}
