.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.2);
  }

  @include onTablet {
      height: 32px;
      width: 32px;
  }

  &--phone {
    background-image: url('../images/new-phone-call-2x.png');
  }

  &--menu {
    background-image: url('../images/Icon-Burger-menu-2x.png');

    &:hover {
      background-image: url('../images/Vector.png');
    }
  }

  &--close {
    background-image: url('../images/Icon-Close-2x.png');
  }
}


