.main {
  position: relative;
  z-index: 2;
  background-color: rgba(29, 29, 29, 1);
  &__content {
    margin: 0 120px;
    display: grid;
    row-gap: 96px;
    padding-block: 96px;

    @include onTablet {
      padding-block: 120px;
      row-gap: 120px;
    }
  }
}
