.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: rgba(194, 194, 194, 1);
  font-weight: 700;
  text-transform: uppercase;

  &__top {
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: 40px;
    color: rgba(29, 29, 29, 1);
  }

  &__content {
    @include contentPaddingInline;
  }

  &__phone-number {
    margin: 0 141px;
    color: inherit;
    text-decoration: none;
    display: block;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 16px;
    color: rgba(29, 29, 29, 1);
  }


  &__book-a-test-drive {
    margin: 0 141px;
    color: inherit;
    text-decoration: none;
    display: block;
    width: fit-content;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(29, 29, 29, 1);
    color: rgba(29, 29, 29, 1);
  }
}
