.nav {
  &__link {
    position: relative;
    color: inherit;
    text-decoration: none;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;

    &::after {
      content: '';
      display: block;
      bottom: -8px;
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: rgba(29, 29, 29, 1);

      transition: transform 0.3s;
      transform: scale(0);
    }

    &:hover::after {
      transform: scale(1);
    }
  }

  &__list{
    margin: 0 141px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
