.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__button {
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    color: rgba(29, 29, 29, 1);
    font-size: 16px;
    font-weight: 700;
    padding: 48px 0;
    margin-top: 40px;
    border: none;
    border-radius: 40px;
    width: 278px;
    height: 56px;
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 2 / -2;
    }

    @include onTablet {
      grid-column: span 4;
    }
  }
  &__a {
    text-decoration: none;
  }
}



