.top-bar {
  margin: 0 120px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onTablet {
    padding-block: 64px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 16px;

    @include onTablet {
      height: 38px;
    }
  }
}
